html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: cyan;
  width: 100%;
  height: 100%;
}

h1 {
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.game {
  background-color: rgb(117, 51, 51);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .title-name {
    background-color: yellow;
} */

.explaination {
  background-color: green;
  display: flex;
  justify-content: center;
}

.Hanged_Man_Container {
  background-color: orange;
}

.Hanged_Man_Container img {
  max-width: 300px;
}

.word-display {
  display: flex;
  list-style: none;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.word-display .letter {
  width: 28px;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 3px solid #000;
  margin-bottom: 40px;
}

.word-display .letter.guessed {
  border-color: transparent;
  margin: -40px 0 35px;
}

.game-box h4 {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 15px;
}

.game-box h4 b {
  font-weight: 600;
}
.game-box .guesses-text b {
  color: #ff0000;
}

.game-box .keyboard {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

:where(.game-modal, .keyboard) button {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  background-color: green;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
}

.keyboard button {
  padding: 10px;
  width: calc(100% / 9 -5px);
}

:where(.game-modal, .keyboard) button:hover {
  background-color: red;
}

.game-modal {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.game-modal .content {
  background: #fff;
  max-width: 450px;
  width: 100%;
  text-align: center;
  border-radius: 15px;
  padding: 30px;
}

.game-modal img {
  max-width: 130px;
}

.game-modal h4 {
  font-size: 1.5rem;
}

.game-modal p {
  font-size: 1.2rem;
  margin: 15px 0 30px;
  font-weight: 500;
}

.game-modal p b {
  color: cyan;
  font-weight: 600;
}

.game-modal button {
  padding: 12px 25px;
}

.box_container {
  background-color: yellow;
  display: flex;
  justify-content: center;
  height: 50vh;
  width: 60vw;
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  border: solid;
}

/* #image_hanged {
  width: 90%;
} */

/* #clavier {
  display: grid;
  grid-template-columns: repeat(10, 1fr); 
  gap: 10px; 
  justify-content: center;
  background-color: orchid;
  width: max-content;
  margin: 0 auto;
  width: 90%;
} */

/* .key {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border: solid;
  cursor: pointer;
  font-size: 24px; 
  width: 85%;
} */

/* #mot {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
  padding: 30px;
  font-size: 18px;
} */

.button_div {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

#otherWord {
  background-color: palevioletred;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
}
